* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #6acf62;
  padding: 16px;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
  padding-bottom: 80px;
}

.map-header {
  text-align: center;
  margin-bottom: 24px;
}

.map-header h2 {
  color: #66bb6a;
  margin-bottom: 8px;
}

#map {
  height: 400px; /* or 100vh for full screen */
  width: 100%;
  border-radius: 12px;
  margin: 16px auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.dashboard-metrics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}

.metric {
  background: #2c2c2c;
  border-radius: 12px;
  padding: 12px 16px;
  flex: 1 1 40%;
  text-align: center;
}

.metric h4 {
  margin: 0;
  color: #66bb6a;
  font-size: 20px;
}

.metric p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #ccc;
}

.waste-card{
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 16px;
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: background 0.3s;
}
.waste-card.plastic {
  background-color: #6acf62; /* Greenish for plastic */
}

.waste-card.paper {
  background-color: #0cc0df; /* Brownish for paper */
}

.waste-card.glass {
  background-color: #b4f504e3; /* Bluish for glass */
}

.waste-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.waste-card p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.waste-card:hover {
  background-color: #2c2c2c;
}

.items-section {
  margin-top: 30px;
  padding: 10px 20px;
}

.item {
  background: #2a2a2a;
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.item h4 {
  margin-bottom: 4px;
  color: #66bb6a;
}

.item p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: #6acf62;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 999;
}

.nav-icon {
  flex: 1;
  text-align: center;
}

.nav-icon img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.nav-icon:hover img {
  transform: translateY(-5px) scale(1.1);
}
